@import url(bootstrap.css);

h1 {font-size:70px;}

body {background-image:url ('');}

h1 {color:White;}

h2 {color:White;}

p {color:White;}

p {font-size:20px;}

h2 {font-size:40px;}

.container {
         background-color: Orange;
}

h3 {
   color:White;
}

