@import url(bootstrap.css);

h1 {font-size:70px;}

body {background-image:url ('https://f.cloud.github.com/assets/5040652/857801/c6369d14-f559-11e2-9a42-4d15939b809e.jpg');}

h1 {color:White;}

h2 {color:White;}

p {color:White;}

p {font-size:20px;}

h2 {font-size:40px;}

.container {
         background-color: Orange;
}

h3 {
   color:White;
}

